*{
 margin: 0;
 padding: 0;
 font-family: 'Times New Roman', Times, serif;
 font-size:30px;
 /* background-color: #39393a; */
 color: rgb(213, 201, 194);
 background: url(pexels-ann-h-6935078.jpg);
 background-size:cover;
}
#feedback-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#feedback-div-content:hover{
 transform: scale(1.04);
}
#feedback-div-content{
border: 10px rgb(62, 63, 60) ridge;
border-radius: 5%;
    padding: 10px;
    margin: 50px;
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

#heading{
    margin-bottom: 15px;
    color: rgb(255, 119, 0);
}

#name{
    margin: 5px;
}
#email{
    margin: 5px;
}

label{
    margin: 10px;
}
input[type="submit"]{
    margin: 20px 0;
    width: 150px;
    transition: 0.5s;
}
input[type="submit"]:hover{
    margin: 20px 0;
    width: 150px;
    transform: scale(1.05);
}
input{
    background-color:antiquewhite;
    border-radius: 10%;
    color: rgb(255,119,0);
    text-align: center;
}
/* input[name="satisfaction"]:checked{
    
} */